@import "compass/css3";

.logo h1 {
  font-size: 85px;
  font-style: italic;
  text-align: left;
  padding-bottom: 50%;
  font-family: cursive;
}
.jumbotron {
  background-image : url("emira-pottery.jpg");
  height: 350px;
  background-size: cover;
   
}

.jumbotron {
  background-color: beige;
}

.head {
    padding: 40px;
    text-align: left;
    
  }

  
  .header1 {
    padding: 5px;
    text-align: left;
    background:black;
    color: beige
    }
  
  img {
    display: block;
    margin-left: auto;
    
  }

.row{
  padding-left: 50px;
}

.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 20px;
  border-radius: 3px;
}










   
      
      
      
  